# ShellCheck configuration file
# Ignore info, warning, and style messages, only show errors
severity=error
disable=SC2154,SC2086,SC1091,SC2155,SC2164,SC2006,SC2046,SC2034,SC2005,SC2162,SC2124,SC2236
