name: "application-2"
registryName: "{{ appdefs.overrides['com.example:application-2'].registryName | default('registry-2') }}"
artifactId: "application-2"
groupId: "org.qubership"
supportParallelDeploy: true
deployParameters: {}
technicalConfigurationParameters: {}
