name: "application-1"
registryName: "{{ appdefs.overrides["com.example:app1"].registryName | default('registry-1') }}"
artifactId: "application-1"
groupId: "org.qubership"
supportParallelDeploy: {{ appdefs.overrides["com.example:app1"].supportParallelDeploy | default(false) }}
deployParameters: {}
technicalConfigurationParameters: {}
