---
name: "Applications"
registryName: "default"
description: "For development"
owners: "John Smith"
deployParameters: {}
globalE2EParameters:
  pipelineDefaultRecipients: ""
  recipientsStrategy: "merge"
  mergeTenantsAndE2EParameters: false
  environmentParameters: {}
gitRepository: ""
defaultBranch: ""
credential: ""
labels: []
