# Pylint configuration file

[MESSAGES CONTROL]
# Disable specific warnings and errors
disable = 
    # Import related
    wildcard-import,
    unused-wildcard-import,
    
    # Undefined variable from star imports
    undefined-variable,
    
    # Too many/few arguments, methods, etc.
    too-many-arguments,
    too-many-locals,
    too-many-branches,
    too-many-statements,
    too-few-public-methods,
    too-many-public-methods,
    too-many-instance-attributes,
    
    # Line length (handled by other tools)
    line-too-long,
    
    # Missing docstrings
    missing-module-docstring,
    missing-class-docstring,
    missing-function-docstring

[BASIC]
# Good variable names which should always be accepted
good-names = i,j,k,ex,Run,_

[FORMAT]
# Maximum number of characters on a single line
max-line-length = 120

[DESIGN]
# Maximum number of arguments for function / method
max-args = 10

# Maximum number of locals for function / method body
max-locals = 20

# Maximum number of return / yield for function / method body
max-returns = 10

# Maximum number of branch for function / method body
max-branches = 20

# Maximum number of statements in function / method body
max-statements = 50
