---
name: "{{current_env.cloudNameWithCluster}}"
apiUrl: "{{current_env.cluster.cloud_api_url}}"
apiPort: "{{current_env.cluster.cloud_api_port}}"
privateUrl: ""
publicUrl: "{{current_env.cluster.cloud_public_url}}"
dashboardUrl: "https://dashboard.{{current_env.cluster.cloud_public_url}}"
labels: []
defaultCredentialsId: "token"
protocol: "{{current_env.cluster.cloud_api_protocol}}"
deployParameters: {}
e2eParameters: {}
technicalConfigurationParameters: {}
deployParameterSets: []
e2eParameterSets: []
technicalConfigurationParameterSets: []
mergeDeployParametersAndE2EParameters: false
dbMode: "db"
databases: []
maasConfig:
  credentialsId: ""
  maasUrl: ""
  maasInternalAddress: ""
  enable: false
vaultConfig:
  url: ""
  credentialsId: ""
  enable: false
dbaasConfigs:
  - credentialsId: ""
    apiUrl: ""
    aggregatorUrl: ""
    enable: false
consulConfig:
  tokenSecret: ""
  publicUrl: ""
  enabled: false
  internalUrl: ""
