---
name: "{{ current_env.name }}-data-management"
credentialsId: ""
labels:
- "solutionInstance-{{ current_env.name }}"
- "solution-{{ current_env.tenant }}"
isServerSideMerge: false
cleanInstallApprovalRequired: false
mergeDeployParametersAndE2EParameters: false
deployParameters: {}
e2eParameters: {}
technicalConfigurationParameters: {}
deployParameterSets: {}
e2eParameterSets: []
technicalConfigurationParameterSets: {}
